*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    background-color: aliceblue;
}

.container{
    width: 80vw;
    min-height: 100vh;
    margin: auto;
}

.movieCard{
   width: 100%;
   min-height:300px ;
   background-color: rgb(250, 218, 218);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 10px;
}

.all_card{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    width: 18%;
    height: 240px;
    background-color: red;
    border: 1.5px solid rgb(224, 223, 223);
    box-shadow: 0.5px 0.5px 10px black;
}

.card img{
    width: 100%;
    height: 85%;
}

.card h3 {
    text-align: center;
}

.events{
    width: 100%;
    min-height:50vh;
    background-color: rgb(169, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 10%;
    height: 30px;
    outline: none;
    color: rgb(0, 0, 0);
    /* border: none; */
}


.flex{
    display: flex;
    justify-content:space-between;
    width: 40%;
    align-items: center;
}

input{
    width: 30%;
    height: 50px;
    font-size: large;
}